{% if contactid %}
  {% assign contactid = contactid | plus: 1 %}
{% else %}
  {% assign contactid = 0 %}
{% endif %}

<form class="general-contact" id="general-contact-{{ contactid }}" action="//formspree.io/hello@decodehub.com" method="post">
  <div class="general-contact-description">
    <h2>Contact</h2>
    <p>Email <a href="mailto:hello@decodehub.com">hello@decodehub.com</a> or use the form below.</p>
  </div>
  <div class="form-row">
    <label for="general-contact-name-{{ contactid }}">Name</label>
    <input class="form-control" type="text" name="name" id="general-contact-name-{{ contactid }}" placeholder="Enter your name" required/>
  </div>

  <div class="form-row">
    <label for="general-contact-email-{{ contactid }}">Email</label>
    <input class="form-control" type="email" name="_replyto" id="general-contact-email-{{ contactid }}" placeholder="A valid email address" required/>
  </div>

  <div class="form-row">
    <label for="general-contact-message-{{ contactid }}">Message (optional)</label>
    <textarea class="form-control" name="message" id="general-contact-message-{{ contactid }}"></textarea>
  </div>

  <div class="form-row">
    <label><input type="checkbox" name="email_list" value="Yes" />Receive updates about Decode?</label>
  </div>

  <input type="hidden" name="_subject" value="New message from //NAME//" readonly />
  <input type="text" name="_gotcha" style="display:none" />

  <div class="form-row">
    <input class="button" type="submit" value="Send" />
  </div>

  <div class="form-row">
    <p class="response"></p>
  </div>
</form>
