<footer class="site-footer">
  <div class="content-wrapper">
    <p class="social-links">
      <a target="_blank" class="twitter" href="https://www.twitter.com/getdecoded"></a>
      <a target="_blank" class="youtube" href="https://www.youtube.com/channel/UCEQ8eSBuEK_cswFKGJr8Eog"></a>
      <a target="_blank" class="github" href="https://github.com/getdecoded"></a>
    </p>
    <p class="footer-text"><a href="https://github.com/decode-org/decode.org/issues" target="_blank">Report a problem</a> &bull; Copyright &copy; 2015 Decode Developments Ltd</p>
  </div>
</footer>
