---
layout: base
---
<header class="site-header">
  <div class="content-wrapper">
    <a href="/" class="logo-link">
      <img src="/assets/img/logo-horizontal-white.svg" alt="Decode Logo" class="site-logo" />
    </a>
    <ul class="site-links">
      <li><a href="/learn/">Learn</a></li><!--
      --><li><a>Sessions</a></li><!--
      --><li><a>Teach</a></li><!--
      --><li><a>About</a></li>
    </ul>
  </div>
</header>

<div class="site-content">
  <div class="hero">
    <div class="content-wrapper">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="content-wrapper clearfix">
    {{ content }}
  </div>
</div>

<footer class="site-footer">
</footer>

