---
layout: base
---

{% include header.html %}

<div class="site-content">
  <div class="hero">
    <div class="content-wrapper">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  {% if page.lesson_video %}
    <div class="content-wrapper{% if page.lesson_video.sandbox %} content-wrapper-grand{% endif %}">
      <div class="lesson-video"{% if page.lesson_video.recode %} data-video-recode="/assets/files/video-config/{{ page.lesson_video.recode }}.json"{% endif %}{% if page.lesson_video.video_id %} data-video-id="{{ page.lesson_video.video_id }}"{% endif %}{% if page.lesson_video.transitions %} data-video-transitions="{{ page.lesson_video.transitions | jsonify | xml_escape }}"{% endif %}{% if page.lesson_video.sandbox %} data-video-sandbox="{{ page.lesson_video.sandbox }}"{% endif %}></div>
    </div>
  {% endif %}
  <div class="content-wrapper clearfix">
    {{ content }}
    {% if page.contact %}
      {% include contact.html %}
    {% endif %}
  </div>
  {% include footer.html %}
</div>



