/* Variables
   ========================================================================== */
@colour-header: @brand-primary;
@header-height: 64px;

/* Styles
   ========================================================================== */

.site-header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: @header-height;

  background-color: @colour-header;
}
