html {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

body {
  position: relative;

  background: @colour-background;
  min-height: 100%;
}

.site-content {
  padding-top: @header-height;
}
