---
layout: base
title: Home
contact: true
class: home
meta_description: Decode provides physical workshops on technology and software as well as online resources for learning anytime.
---
{% include header.html %}
<div class="site-content">
  <div class="home-hero">
    <div class="phone-holder">
      <div class="inner"></div>
      <div class="phone-text">Computers aren't difficult<br/>
        <br />
        Let's tackle them, together</div>
    </div>
  </div>
  <div class="home-row">
    <div class="content-wrapper">
      <h1>Code has passed us by</h1>
      <p>And it's no secret. Technology has become something so easy to access but so easy to become a consumer of, the world has taken that mentality on. Decode, a project based in New Zealand is one that tries to reverse that mentality, empowering people with technology so that they may use it and it may not use them.</p>
    </div>
  </div>
  <div class="home-row sessions-row">
    <div class="content-wrapper">
      <h2>Sessions</h2>
      <p>Decode supplies a model for schools and other organisations to run sessions that allow students to explore technology in a way that they enjoy, and a way that allows them to learn a lot. You can find a local session today, or volunteer your time to make sessions better. This could be in the form of running your own sessions, or joining a current one as a mentor.</p>
      <p><a href="/locations/" class="button">Find a Session</a><a href="/run/" class="button">Volunteer</a></p>
    </div>
  </div>
  <div class="home-row lessons-row">
    <div class="content-wrapper">
      <h2>Learn Online</h2>
      <p>Either as a tool for sessions or for anyone who wants to learn more about coding and computers in general, we're populating an archive of valuable lessons. Start now by going to the <a href="/learn/">Learn</a> page or choosing a category right here.</p>
      <p>
        {% for collection_key in site.data.lessons.index.collections %}
          {% capture path %}_lesson_collections/{{ collection_key }}.md{% endcapture %}
          {% assign collection = site.lesson_collections|where:"relative_path",path %}
          {% assign collection = collection[0] %}
          <a href="{{ collection.url }}" class="button">{{ collection.title }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="home-row video-row">
    <div class="content-wrapper">
      <div class="video-holder">
        <iframe src="https://www.youtube.com/embed/-rgSwX0cEZE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="home-row contact-row">
    <div class="content-wrapper">
      {% include contact.html %}
    </div>
  </div>
  {% include footer.html %}
</div>

