---
layout: base
title: Home
contact: true
class: home
meta_description: Decode provides physical workshops on technology and software as well as online resources for learning anytime.
---
{% include header.html %}
<div class="site-content">
  <div class="home-hero">
    <div class="content-wrapper home-hero-text">
      <h1 class="home-heading">Code doesn't have to be hard</h1>
      <p class="home-subtitle">It could change your life, why not give it a go?</p>
    </div>
    <div class="home-hero-video">
      {% include lesson_video.html video_id='general/start/intro' %}
    </div>
  </div>
  <div class="home-row">
    <div class="content-wrapper">
      {% assign recent_lessons = site.lessons|flatten_lessons|ordered_sort: 'date', 'last', 'desc' %}

      <h2>Start Learning Online</h2>
      {% include lesson_collections.html %}

      <h2>Recent lessons</h2>
      <p>
        {% for lesson in recent_lessons limit: 3 %}
          <a href="{{ lesson.url }}" class="button">{{ lesson.title }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="home-row sessions-row" id="teachers">
    <div class="content-wrapper">
      <h2>For Teachers</h2>
      <p>All of our new videos come with presentations that can be played right in your browser. If you want to use Decode's lessons in a classroom, these will prove as useful tools.</p>
      <p><a href="http://presentations.getdecoded.org" class="button">Presentations</a></p>
    </div>
  </div>
  <div class="home-row about-row" id="about">
    <div class="content-wrapper">
      <h2>About Decode</h2>
      <p>
        Technology has become so easy to access but so easy to become a consumer of,
        the world has taken that mentality on. Decode is a project that tries to reverse that mentality,
        empowering people with technology so that they may use it and it may not use them. We do this by providing
        online lessons to introduce people to programming and to help them in their journey of learning it.
      </p>
      <p>
        Decode was once a model for workshops, but there are so many great ones that we decided to focus
        just on lessons. Teachers can still use our resources in the classroom though. See below a TEDx talk
        from 2013 by Decode founder, Christian Silver about his vision for the project.
      </p>
    </div>
  </div>
  <div class="home-row video-row">
    <div class="content-wrapper">
      <div class="video-holder">
        <iframe src="https://www.youtube.com/embed/-rgSwX0cEZE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="home-row contact-row">
    <div class="content-wrapper">
      {% include contact.html %}
    </div>
  </div>
  {% include footer.html %}
</div>
