---
class: 'locations'
title: Locations
meta_description: Decode sessions are free, regular workshops on software development. Enter to find one near you.
---
<p>Select a location from the map below. More interested in helping out? Check out the <a href="/run/">Run page</a>. Make sure to contact somebody before coming, to make sure that a session is running.</p>
<div class="locations-map-container"><div class="location-map"></div></div>
<div class="locations-description"></div>
<div class="locations-info">
  {% for location in site.data.locations %}
    <section class="location" data-location="{{ location.location | jsonify | xml_escape }}">
      <h2>{{ location.name }}</h2>
      <p>{{ location.location.address }}</p>
      {{ location.description | markdownify }}
      <h3>Contact</h3>
      <ul>{% for contact in location.contact %}
        <li>{{ contact.name }}: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
        {% endfor %}</ul>
    </section>
  {% endfor %}
</div>
