.lesson-video {
  opacity: 0.5;

  &.ready {
    opacity: 1;
  }

  .playback-container {
    position: relative;

    &:before {
      display: block;
      content: ' ';
      height: 0;
      padding-top: 56.25%;
    }
  }

  .video-recode-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    .CodeMirror {
      width: 100%;
      height: 100%;
    }
  }

  .yt-video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .video-controls {
    height: 60px;
    position: relative;

    .playback-button {
      &:extend(.icon);
      margin: 0;
      font-size: 30px;
      line-height: 60px;

      cursor: pointer;

      &:before {
        &:extend(.icon-play:before);
      }

      &:hover {
        color: @brand-primary;
      }
    }

    .seek-container {
      position: absolute;
      left: 45px;
      right: 0;
      top: 0;

      height: 100%;

      cursor: pointer;

      &:hover .seek-needle {
        transform: scale(1.2);
      }
    }

    .seek-bar {
      position: absolute;
      top: 50%;
      margin-top: -2px;

      height: 4px;
      width: 100%;

      background-color: @brand-grey;
    }

    .seek-loaded {
      position: absolute;
      left: 0;
      top: 0;

      height: 100%;
      width: 0%;

      background-color: @brand-light-grey;
    }


    .seek-needle {
      position: absolute;
      margin-left: -8px;
      margin-top: -8px;
      left: 0;
      top: 50%;

      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: @brand-white;
      border: 4px solid @brand-primary;

      transform: scale(1);
      transition: transform 0.1s;
    }
  }

  &.playing {
    .playback-button {
      &:before {
        &:extend(.icon-pause:before);
      }
    }
  }
}

/* Old Video
   ========================================================================== */

.old-video {
  .controls {
      height: 32px;
      line-height: 32px;
      background-color: @brand-black;
      font-family: @font-heading;
      position: relative;
  }

  .play-button {
      color: @brand-secondary;
      width: 32px;
      height: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      cursor: pointer;
  }

  .play-button.running {
      color: @brand-primary;
  }

  .current-playing {
      height: 32px;
      font-family: @font-heading;
      position: relative;
      line-height: 32px;
  }

  .video-playing,.code-playing {
      position: absolute;
      height: 100%;
  }

  .code-playing {
      display: none;
  }

  .seek {
      position: absolute;
      left: 32px;
      right: 64px;
      height: 100%;
      background: @brand-white;
      cursor: pointer;
  }

  .buffered {
      position: absolute;
      height: 100%;
      background-color: @brand-secondary;
  }

  .needle {
      width: 2px;
      position: absolute;
      left: 0;
      background: @brand-primary;
      height: 100%;
  }

  .video-container {
      position: relative;
  }

  #player {
      position: absolute;
  }

  #editor {
      height: 100%; width: 100%; position: absolute; display: none;
  }


  #code-video {
      margin-bottom: 25px;
  }
}
